.cabecapag spam{
  display: inline;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding-left: 10px;
  text-shadow: 2px black;
  text-shadow: black 0.1em 0.1em 0.2em
}

.cabecapag spam:hover{
  color: #fff;
  text-shadow: rgb(127, 71, 138) -0.2em -0.1em -0.2em ;
}
.corlogo h3{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: rgb(85, 6, 6);
}
.rodape{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 70px;
  background: rgba(97, 52, 97, 0.267);
}
.seccao{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(156, 22, 156, 0.267);
}